<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--自定义名字-->
<mapper namespace="cn.mybatis.entity.UserMapper">
    <select id="findById" resultType="usertest">
    select * from user where uid = #{id}
  </select>

    <delete id="delete">
        delete from user where  uid = #{id}
    </delete>

    <!--    parameterType可以省略，useGeneratedKeys表示使用自增值，keyProperty表示存储到uid中-->
    <insert id="addUser" parameterType="usertest" useGeneratedKeys="true" keyProperty="uid" >
        insert  into user (username,password,address) values(#{username},#{password},#{address})
    </insert>

    <update id="update">
        update  user set username = #{username},address=#{address} where uid = #{uid}
    </update>

</mapper>