<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--自定义名字-->
<mapper namespace="cn.mybatis.entity.UserMapper">
    <select id="findById" resultType="usertest">
    select * from user where uid = #{id}
  </select>

    <delete id="delete">
        delete from user where  uid = #{id}
    </delete>

    <!--    parameterType可以省略，useGeneratedKeys表示使用自增值，keyProperty表示存储到uid中-->
    <insert id="addUser" parameterType="usertest" useGeneratedKeys="true" keyProperty="uid" >
        insert  into user (username,password,address) values(#{username},#{password},#{address})
    </insert>

    <update id="update">
        update  user set username = #{username},address=#{address} where uid = #{uid}
    </update>

    <select id="findByIdAndUsername" resultType="usertest">
        select * from user where uid=#{id} and username=#{username}
    </select>

    <select id="findByUserLikeName" resultType="usertest">
        select * from user where username like #{name}
    </select>

    <select id="getByMap" resultType="map">
        select * from user where uid =#{id}
    </select>

<!--    column为table的列，property为javabean的属性-->
    <resultMap id="userMap" type="usertest">
        <id column="uid" property="uid"></id>
        <result column="address" property="address"></result>
        <result column="username" property="username"></result>
        <result column="class_name" property="clazz.className"></result>
        <result column="cid" property="clazz.id"></result>
    </resultMap>
    
    
    <select id="getMapByName" resultMap="map">
        select * from user where username like #{name}
    </select>

    <select id="getByResultMap" resultMap="userMap">
        SELECT u.uid,u.address,u.username,t.class_name,u.cid FROM t_class t,user u  WHERE u.cid =t.id and u.uid =#{id};
    </select>

</mapper>